html{
    scroll-behavior: smooth;
    font-size: 10px;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

body{
    font-family: "Source Code Pro";
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.project{
    height: 100vh;
}

/*------------------------HEADER------------------------*/

.header{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    transform-style: preserve-3d;
    z-index: -1;
}

.header h1{
    color: white;
    position: absolute;
    margin-left: clamp(3rem, 5vmin, 5rem);
    margin-bottom: clamp(3rem, 5vmin, 5rem);
    font-size: clamp(3rem, 5vmin, 5rem);
}

#background{
    position: absolute;
    height: 120%;
    width: 100%;
    object-fit: cover;

    z-index: -1;
    transform: translateZ(-10px) translateY(-260px) scale(2.2);
}

/*------------------------PROJECT ONE------------------------*/

#projectOne{
    background-color: white;
    border: 5px solid blue;
    transform-style: preserve-3d;
}

/*------------------------FOOTER------------------------*/

footer{
    text-align: center;
    transform-style: preserve-3d;
}