html{
    scroll-behavior: smooth;
    font-size: 10px;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

body{
    background-color: rgb(24,24,24);
    font-family: "Source Code Pro";
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.project{
    color: white;
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform-style: preserve-3d;
}

.icon{
    font-family: "Source Code Pro";
    height: 25rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.summary{
    border: 1px solid orange;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.summary img{
    width: 6rem;
    margin-bottom: 1rem;
}

.description{
    border: 1px solid yellow;
    height: 50%;
    width: 100%;
}

/*------------------------HEADER------------------------*/

.header{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    transform-style: preserve-3d;
    z-index: -1;
}

.header h1{
    color: white;
    position: absolute;
    margin-left: clamp(3rem, 5vmin, 5rem);
    margin-bottom: clamp(3rem, 5vmin, 5rem);
    font-size: clamp(3rem, 5vmin, 5rem);
}

#background{
    position: absolute;
    height: 120%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;

    z-index: -1;
    transform: translateZ(-10px) translateY(-260px) scale(2.2);
}

/*------------------------PROJECT ONE------------------------*/

#projectOne{
    background-color: rgb(24,24,24);
}

#wordleTitle{
    background-image: url("images/wordle.jpg");
    background-size: contain;
}

/*------------------------PROJECT ONE------------------------*/

#projectTwo{
    background-color: black;
}

#tictactoeTitle{
    background-image: url("images/tictactoe.jpg");
    background-size: contain;
}

/*------------------------FOOTER------------------------*/

footer{
    background-color: rgb(24,24,24);
    color: white;
    text-align: center;
    transform-style: preserve-3d;
}