html{
    scroll-behavior: smooth;
}

body{
    font-family: "Source Code Pro";
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*SECTION ONE*/ 

.sectionOne{
    height: 100vh;
    background-image: url(images/splashSunset.jpeg);
    background-size: cover;
    background-position: center center;
}

#topName{
    float: left;
}

.nav a{
    float: right;
}

.nav a, #topName{
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: min(18px, 1.8vw);
    text-decoration: none;
    transition: 0.5s;
}

.nav a:hover{
    background-color: lightpink;
}

/*SECTION TWO*/ 

.sectionTwo{
    background-color: white;
    height: 710px;
}

#educationHeader{
    text-align: center;
    margin-bottom: 0;
}

.twoLeft{
    float: left;
    width: 40%;
    height: 510px;
}

.twoRight{
    float: right;
    width: 60%;
    height: 510px;
}

.degree{
    position: relative;
    float: right;
    background-color: #182B49;
    width: 80%;
    max-width: 400px;
    height: 450px;
    text-align: center;
    color: white;

    margin: 30px 20px 50px 0; 
}

.degreeInfo{
    width: 100%;
    font-size: min(16px, 3vw);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.degreeInfo p{
    margin: 8px 4px;
}

#seal{
    max-width: 70%;
}

.courses{
    float: left;
    position: relative;
    height: 500px;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    color: black;

    margin: 2px 0 50px 3%;
    font-size: min(14px, 2vw);
}

.courseList{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.primarySkills{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: center;
    font-size: min(2vw, 18px);
}

.primarySkills img{
    width: min(100px, 11vw);
    margin: 0 10px 0 0;
}

#javaIcon{
    margin: 0; 
}

.otherSkills{
    display: flex;
    align-items: center;
    width: 100%;
    height: min(60px, 6vw);
    justify-content: center;
    font-size: min(2vw, 16px);
}

.otherSkills img{
    width: min(50px, 6vw);
    margin: 0 0 0 5px;
}

/*SECTION THREE*/

.sectionThree{
    background-color: lightgrey;
    height: 702px;
}

#projectsHeader{
    text-align: center;
    padding: 10px 10px 0 16px;
}

.projectIcons{
    width: 100%;
    height: 632px;
    text-align: center;
}

.row{
    height: 50%;
    width: 100%;
    text-align: center;
}

/*
#rowOne{
    background-color: lightblue;
}

#rowTwo{
    background-color: navy;
}*/

.project{
    display: inline-block;
    background-color: white;
    width: 230px;
    height: 230px;
    margin: 43px 12px;
}

.projectIcons h3{
    background-color: grey;
}

/*SECTION FOUR*/

.sectionFour{
    background-color: white;
    width: 100%;
    height: 550px;
    position: relative;
}

.fourLeft{
    float: left;
    width: 45%;
    height: 100%
}

.contactsWrapper{
    float: right;
    height: 100%;
    width: min(400px, 90%);
    margin: 0 10px 0 0;
    position: relative;
}

#contactsImage{
    width: 100%;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fourRight{
    float: right;
    width: 55%;
    height: 100%;
}

.contactList{
    width: min(700px, 55%);
    height: 40%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#contactsHeader{
    text-align: center;
}

.icons{
    width: 100%;
    text-align: center;
    color: white;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icons a{
    color: white;
}
    
.contact{
    display: block;
    padding: 5px 0;
}

.icon{
    margin: 0 10px;
    width: min(12%, 80px);
}

#githubIcon{
    width: min(12%, 80px);
}

/*SECTION FOOTER*/

footer{
    background-color:#D3D3D3;
    height: 50px;
    text-align: center;
    position: relative;
}

footer p{
    width: 100%;
    margin: 0;
    font-size: 14px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*-------------FIRST DRAFT----------------

body{
    margin: 0;
    font-family: "Source Code Pro";
    min-width: 500px;
}

.topnav{
    overflow: hidden;
}

#topname{
    float: left;
}

.nav a, #topname{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
}

.nav{
    position: absolute;
    top: 1px;
    right: 1px;
}

#topname{
    position: absolute;
    top: 1px;
    left: 1px;
}

.nav a:hover{
    background-color: lightpink;
}

#educationHEADER{
    text-align: center;
    font-size: 30px;
    font-weight: 400; 
}

.education{
    display: inline-block;
    margin-top: 0%;
    height: 600px;
}

#educationLEFT{
    text-align: center;
    font-weight: 300;

    width: 30%;
    margin-left: 4%;
    margin-top: 30px;
    background-color: #182B49;
    padding: 20px;
    font-size: 18px;
    color: white;
}

#seal{
    max-width: 80%;
}

#educationRIGHT{
    text-align: left;
    width: 50%;
    margin-right: 4%;
    margin-top: 10px;
    position: absolute;
    padding-left: 4%;
    font-size: 1.5vh;
}

#educationRIGHT h3, li{
    font-weight: 300;
}

footer{
    background-color: lightgrey;
}

#github{
    color:black;
}

*/








